.brand-logo img {

  @media (min-width: 48em) {
    margin: 1rem 0;
  }
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  text-transform: uppercase;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-main-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
