.menu--main--wrappper {
  .nav-main-item {
    display: inline-block;
    *display: inline;
    zoom: 1;

    a {
      font-size: 85%;
      margin-top: 1em;
      text-decoration: none;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
      border: 2px solid rgb(176, 202, 219);
      background: transparent;

      &:hover,
      &:focus {
        background: #024984;
      }

      &.is-active {
        text-decoration: none;
        color: #fff;
        background: rgb(176, 202, 219);
      }
    }
  }

}

.menu--footer {
  white-space: normal;

  a:hover {
    text-decoration: none;
    border-radius: 10px;
  }
}