* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h3 {
  font-weight: 100;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}