//== Colors

$gray-base: #000;
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-lighter: lighten($gray-base, 93.5%); // #eee

$primary: #6F8CAB;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$sidebar: #3875a7;

//== Typography
@font-face {
  font-family: 'BalsamiqSans Regular';
  src: url("../fonts/BalsamiqSans-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BalsamiqSans Bold';
  src: url("../fonts/BalsamiqSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BalsamiqSans Italic';
  src: url("../fonts/BalsamiqSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BalsamiqSans BoldItalic';
  src: url("../fonts/BalsamiqSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

$font-family-base: "BalsamiqSans Regular", Helvetica, Arial, sans-serif;
