#layout {
  padding: 0;
}

.header {
  top: auto;
  margin: 3em auto;
  text-align: center;
}

.sidebar {
  color: #fff;
  background: $sidebar;
}

.content-subhead {
  font-size: 80%;
  font-weight: 500;
  padding: 0.4em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
}

.content {
  padding: 2em 1em 0;
}

.footer {
  padding: 1em 0;
}

@media (min-width: 48em) {
  .content {
    margin-right: 25%;
    padding: 2em 3em 0;
  }

  .header {
    margin: 80% 2em 0;
    text-align: left;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .footer {
    text-align: center;
  }
}